#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div {
  position: overlav;
}

/*
  This CSS snippet defines the styling for buttons within the application,
  setting a dark blue background color with white text for optimal readability.
  It removes the default border, applies padding for a larger clickable area,
  and rounds the corners for a modern look.
  The cursor is set to pointer to indicate that the elements are clickable.
  A margin to the right ensures spacing between adjacent buttons.
  The hover state changes the background to a darker gray to indicate interactivity.
  "!important" is used to ensure these styles override any other conflicting styles.
*/
button {
  background-color: #081d24 !important; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px !important; 
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

button:hover {
  background-color: #3d4548 !important;
}
